.header{
     height: 300px;
     color: azure;
     background-image: url('../Image/tiger.jpeg');
     /* background:fixed red; */
     /* background-color: blue; */
     /* background-image: url('gk.jpg'); */
     /* background-repeat: no-repeat; */
     /* background-repeat: repeat-x; */
     /* background-repeat: repeat-y; */
     /* background-size: auto; */
     /* background-size: cover; */
     /* background-size: contain; */
     background-size: 500px;
}
h3{
    color: green;
    font-size: 30px;
    text-decoration: overline ;
    font-family:'Courier New', Courier, monospace;
}
.master{
    /* display: none; */
    /* visibility: hidden; */
}
.blog{
    margin: 40px;
    border: 10px solid orangered;
    box-shadow: 10px 10px 20px gold;
}

.dark{
    border: 1px solid yellowgreen;
    display: block;
    
     /* text-decoration: underline; */
} 
.deleniti{
    border: 2px solid red ;
    height: 50px;
    /* display: block; */
    display: inline-block;
}